.env
.env.*
**/.env
**/.env.*
__pycache__/
node_modules/
.pytest_cache/
*.pyc
.DS_Store
dist/
*.egg-info/
.venv/
testGemini.js
listmodels.js

ai-engine/app/data/ResumesPDF/*
!ai-engine/app/data/ResumesPDF/.gitkeep